:root {
  --purple: #a020f0;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container-fluid {
  padding: 0;
}
h1 {
  font-family: "Raleway", sans-serif;
}
p {
  font-family: "Dosis", sans-serif;
}
.head-bg {
  width: 100%;
  height: 25vh;
  background-color: #fee440;
  position: relative;
  overflow: hidden;
}
svg {
  /* position: fixed; */
  top: 0;
  left: 0;
  width: 100%;
  height: 25vh;
}
.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 15%;
  height: auto;
}
.btn-pink-moon {
  background: #ec008c;
  background: -webkit-linear-gradient(to right, #fc6767, #ec008c);
  background: linear-gradient(to right, #fc6767, #ec008c);
  color: #fff;
  border: 3px solid #eee;
}

.img-c {
  width: 100%;
  min-height: 100%;
}
.user {
  height: 100%;
}
.dropdown-toggle::after {
  color: black;
}

footer img {
  width: 75%;
  height: 75%;
}
.shadows {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}
.fade-in {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}

@media screen and (max-width: 576px) {
  .logo {
    width: 25%;
  }
}
@media (max-width: 767px) {
  .fade-in {
    opacity: 1;
    transition: opacity 1s ease-in-out;
  }
}
